.calculator-container{
  background-color:rgb(211, 211, 211);
  margin:auto;
  width:25%;
  padding:10px;
  top:5rem;
  position: relative;
}
.screen{
  height: 80px;
  width: 100%;
  border-radius: 3px;
  background-color: white;
  text-align: center;
  -webkit-box-shadow: 2px 2px 18px 0px rgba(150,153,0.67);
  -moz-box-shadow: 2px 2px 18px 0px rgba(138,138, 138, 138, 0.67);
  box-shadow: 2px 2px 18px 0px rgba(7, 231, 231, 0.67);
}
.screen-div{
  border-style: solid;
  border-color: purple;
  background-color: white;
}
.button-container{
  margin-top: 1rem;
 
  background-color: rgb(255, 255, 255);
  padding:10px 10px;
  display: flex;
}
.num-button{
  padding: 20px 30px;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: rgb(231, 19, 196);
  color: white;
  border-radius: 80px;
  border:unset;
  
}
.equate-button{
  padding: 20px 70px;
  background-color: black;
  color: white;
  border: unset;
  border-radius: 5px;
  margin-bottom: 15px;
}

.num-button-zero{
  padding: 20px 30px;
  margin-right: 15px;
  margin-bottom: 15px;
  background-color: rgb(231, 19, 196);
  color: white;
  border-radius: 80px;
  border:unset;
}
.whole-container{
  padding-right: 100px;
  margin: 70px;
}
